
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#root {
  height: 100%;
}





input, textarea, select {
  color: black;
}

.main {
  height: 100%;
  margin-top: 93px;
  margin-bottom: 20px;
}

.main-button {
  background: lightcoral;
  border: white;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.large-button {
  display: block;
  max-width: 300px;
}

.secondary-button {
  background: #694a52;
  border: white;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: .8rem;
  margin-right: 10px;
}

.light  {
  color: white;
}

.big-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  justify-content: space-around;
  height: 100%;
  text-align: left;
}

.big-form input[type="submit"]{
  width: 50%;
  align-self: center;
}

.input-container > * {
  margin-bottom: 10px;
}

.chat-link {
  color: lightcoral;
  margin-left: 6px;
}

.big-input {
  width: 80%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page{
  height: 100%;
  display: flex;
}

.map-container {
  height: 100%;
  width: 60%;
  position: relative;
}

.map-overlay-button {
  position: absolute;
  background: #efe0d8;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
}

.toggle-trash-button {
  top: 10px;
  right: 10px;
}


/* =========================
Header styles
========================= */
.main-header {
  color: black;
  display: flex;
  width: 100%;
  background: #EFE0D8;
  padding: 8px;
  border-bottom: solid 2px #41403E;
  justify-content: space-between;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  position: fixed;
  top: 0;
  z-index: 5;
}

.header-right {
  align-self: center;
  padding: 10px;
  display: flex;
}

.header-right a {
  color: #444;
  margin-right: 10px;
  /* text-transform: uppercase; */
  font-weight: 400;
}

.header-right p{
  margin-right: 10px;
}

.header-links a:hover{
  text-decoration: underline;
}

.button-link{
  color: #444;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.button-link:hover{
  color: black;
}

.big-header-link {
  align-self: center;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: lightcoral;

}

.map-nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

/* =================================
NAVBAR
================================= */

nav{
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}

.nav-link{
  margin-left: 14px;
  color: lightcoral;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19px;
  border-bottom: 4px solid transparent;
}

.nav-link:hover{
  border-bottom: 4px solid #694a52;
}


/* ===============================
HomePage List styles
=============================== */

.trash-list-container{
  width: 40%;
  border-left: 5px solid;
  background: #EFE0D8;
  overflow: scroll;
  padding-top: 1rem;
}

.trash-list-item {
  display: flex;
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  width: 80%;
  margin: 0 auto 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.trash-list-item-name h3{
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.trash-list-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 130px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid black;
}

.trash-list-item-info {
  line-height: 1.3rem;
  font-weight: 300;
  flex-grow: 1;
}

.trash-list-distance{
  margin-top: 5px;
  text-align: right;
}

/* ================================================
Add trash form style
================================================ */
.trash-form-container{
  width: 80%;
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  left: 10%;
  height: 80%;
  top: 10%;
  border-radius: 13px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.trash-form-container form{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  padding: 12px;
  justify-content: space-around;
  height: 100%;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  margin-bottom: 10px;
}

.tags-section{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.trash-form-container form label {
  align-self: flex-start;
  margin-bottom: 8px;
}

.trash-form-container form input[type="text"] {
  line-height: 22px;
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.trash-form-container form textarea {
  line-height: 22px;
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.trash-form-container form select {
  line-height: 22px;
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.form-close {
  border: none;
  background: rgba(0,0,0,0);
  align-self: flex-end;
  margin-right: 16px;
  margin-top: 12px;
  color: white;
  cursor: pointer;
  font-size: 20px;  
}

/* ==================================
Trash Detail Card style
================================== */
#trash-detail {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  border: 1px solid white;
  width: 80%;
  margin: 0 auto 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#trash-detail header {
  padding: 10px;
}

#trash-detail main {
  padding: 10px;
}

#trash-detail main > *{
  padding: 10px 0;
}

#trash-detail header{
  display: flex;
  justify-content: space-between;
}

#trash-detail header button{
    justify-self: flex-end;
    background: rgba(0,0,0,0);
    border: none;
    padding: 1px 17px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

#trash-detail img {
  width: 100%;
  max-height: 400px;
  padding: 0;
}


/* =====================
Pop up styles
===================== */
.popup *{
  color: black;
}

/*======================
Bulletin Board and Posts styles
======================== */
.bulletin-board{
  width: 60%;
}

.bulletin-post {
  width: 100%;
  margin: 20px 80px;
  text-align: left;
  border-bottom: 5px solid #98bfad;
  padding-bottom: 10px;
  cursor: pointer;
}

.bulletin-post:hover .post-expand-carrot {
  transform: rotate(90deg);
}

.carrot-expanded {
  transform: rotate(90deg);
}

.bulletin-post:hover .carrot-expanded {
  transform: rotate(270deg);
}

.post-user{
  text-transform: uppercase;
  padding: 5px 0px;
}

.post-title {
  color: #694a52;
  margin-bottom: 5px;
}

.user-controls .main-button {
  margin-right: 10px;
}

.comment-container{
  padding: 10px 20px;
  width: 40%;
}

.comment-container p {
  padding: 6px
}

.comment-header{
  padding: 4px;
}

.user-controls{
  margin-left: 5px;
}

.comment-form {
  padding: 10px 20px;
}

.bulletin-board > a {
  margin: 0 auto;
}

.post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* 
======================
Chat pop-up
====================== 
*/

.chat-page{
  width: 90%;
  display: flex;
  margin: 10px auto;
  height: 90%;
  overflow: hidden;
}

.chat-sidebar{
  width: 30%;
  overflow: scroll;
  height: 100%;
}

.sidebar-item{
  padding: 20px;
  border-bottom: 1px solid;
}


.chat-messages{
  overflow: scroll;
  height: 50vh;
}

.chat-window{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-message{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid black;
}

.message-username{
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.message-text{
  width: 100%;
}

.sent-at {
  font-size: 10px;
  width: 100%;
}

.chat-message.message-sent {
  text-align: right;
}

.chat-message.message-received {
  text-align: left;
}

.chat-notification-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  z-index: 20;
}

.chat-notification{
  width: 20%;
  padding: 10px 0px 5px 15px;
  background-color: #efe0d8;
  opacity: .7;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  border-right: 1px solid black;
}

.chat-notification:hover{
  opacity: 1;
}

.comment-form {
  width: 94%;
  display: flex;
  margin: 0 auto;
}

.comment-form input[type="text"]{
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-top: 1px solid black;
}


/* ================================
Tags
================================ */

.tag{
  border-radius: 10px;
  padding: 2px 12px;
  margin: auto;
  margin: 2px;
  background: #21B20C;
}

.tag:nth-child(2n){
  background: #FF7F50;
}

.tag:nth-child(3n){
  background: #17DEEE;
}

.tag:nth-child(4n){
  background: #FF4162;
}

.tag-container{
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  flex-wrap: wrap;
}

.tag-button {
  margin-right: 3px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* ============================
Wish page
============================ */

.wish-main {
  display: flex;
  width: 80%;
  margin: 20px auto;
  overflow: scroll;
  justify-content: space-between;
}

.wish-main-side.left{
  width: 30%;
  text-align: left;
}

.wish-form{
  display: flex;
  height: auto;
  flex-wrap: wrap;
  padding: 0;
}

input#wish {
  width: 74%;
  line-height: 23px;
  border-radius: 6px;
  border: 1px solid black;
  padding-left: 6px;
}

.wish-form select {
  padding: 3px;
  margin-top: 7px;
  width: 74%;
  margin-bottom: 3px;
}

.wish-form input[type="submit"]{
  background: lightcoral;
  border: white;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  width: 74%;
}

.subheader{
  margin: 28px 0;
  font-size: 26px;
  color: #694a52;
}

.wish-list{
  text-align: left;
}

.wish-page-trash-list-container {
  width: 30%;
}

.page-header {
  font-size: 52px;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  color: #98bfad;
  text-shadow: 2px 1px 1px navajowhite;
}


.wish.trash-list-item {
  flex-direction: column;
  box-shadow: none;
  border-bottom: 3px solid #98bfad;
}

.wish.trash-list-item .trash-list-item-name{
  display: block;
  flex-basis: 0;
  border-right: none;
  padding: 5px 0;
  margin-bottom: 5px;
}

.wish.trash-list-item h3 {
  font-weight: 600;
  text-align: left;
}

.wish-item{
  text-align: left;
  padding: 6px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.wish-page-side{
  width: 30%;
}

.wish-blurb-container{
  width: 30%;
}

.blurb {
  padding: 10px;
  letter-spacing: 2px;
}
/* 
==================================
About Page
================================= */
.about-page{
  width: 80%;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
}

.about-header {
  text-transform: uppercase;
  margin-bottom: 22px;
  letter-spacing: 1.2px;
  font-weight: 300;
  font-size: 28px;
  color: lightcoral;
  border-bottom: 10px solid;
  padding-bottom: 2px;
}


.about-right {
  align-self: flex-end;
  text-align: right;
  margin-top: 20px;
  width: 40%;
  line-height: 26px;
}

.about-left {
  align-self: flex-start;
  text-align: left;
  margin-top: 20px;
  width: 40%;
  line-height: 26px;
}

.mission-statement {
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  width: 72%;
  margin: 0 auto;
  line-height: 42px;
}

.mission-statement h4 {
  font-size: 30px;
  font-weight: 200;
}

.about-page h1{
  font-size: 49px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #98bfad;
  margin-top: 20px;
}

.change-view-button {
  top: 10px;
  left: 10px;
  z-index: 10;
}
