body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, select {
  color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page{
  height: 100vh;
  display: flex;
}

.map-container {
  height: 100%;
  width: 60%;
  position: relative;
}

.toggle-trash-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #efe0d8;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
}

/* =========================
Header styles
========================= */
header {
  color: black;
  display: flex;
  width: 100%;
  background: #EFE0D8;
  padding: 8px;
  border-bottom: solid 2px #41403E;
  justify-content: space-between;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.header-right {
  align-self: center;
  padding: 10px;
  display: flex;
}

.header-right a {
  color: #444;
  margin-right: 10px;
  /* text-transform: uppercase; */
  font-weight: 400;
}

.header-right p{
  margin-right: 10px;
}

.header-links a:hover{
  text-decoration: underline;
}

.button-link{
  color: #444;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.button-link:hover{
  color: black;
}

.big-header-link {
  align-self: center;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: lightcoral;

}

/* ===============================
HomePage List styles
=============================== */

.trash-list-container{
  width: 40%;
  border-left: 5px solid;
  background: #EFE0D8;
  overflow: scroll;
  padding-top: 1rem;
}

.trash-list-item {
  display: flex;
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  width: 80%;
  margin: 0 auto 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.trash-list-item-name h3{
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.trash-list-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 130px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid black;
}

.trash-list-item-info {
  line-height: 1.3rem;
  font-weight: 300;
  flex-grow: 1;
}

.trash-list-distance{
  margin-top: 5px;
  text-align: right;
}

/* ================================================
Add trash form style
================================================ */
.trash-form-container{
  width: 80%;
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  left: 10%;
  height: 80%;
  top: 10%;
  border-radius: 13px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  padding: 12px;
  justify-content: space-around;
  height: 100%;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.tags-section{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.trash-form-container form label {
  align-self: flex-start;
  margin-bottom: 8px;
}

.trash-form-container form input {
  line-height: 22px;
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.trash-form-container form textarea {
  line-height: 22px;
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.trash-form-container form select {
  line-height: 22px;
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.form-close {
  border: none;
  background: rgba(0,0,0,0);
  align-self: flex-end;
  margin-right: 16px;
  margin-top: 12px;
  color: white;
  cursor: pointer;
  font-size: 20px;  
}

/* ==================================
Trash Detail Card style
================================== */
#trash-detail {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  border: 1px solid white;
  width: 80%;
  margin: 0 auto 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#trash-detail header {
  padding: 10px;
}

#trash-detail body {
  padding: 10px;
}

#trash-detail body > *{
  padding: 10px 0;
}

#trash-detail header{
  display: flex;
  justify-content: space-between;
}

#trash-detail header button{
    justify-self: flex-end;
    background: #efe0d8;
    border: none;
    padding: 1px 17px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

#trash-detail img {
  width: 100%;
  max-height: 400px;
  padding: 0;
}

#trash-detail body button{
  background: #efe0d8;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 80%;
    align-self: center;
}

/* =====================
Pop up styles
===================== */
.popup *{
  color: black;
}

/*======================
Bulletin Board and Posts styles
======================== */
.bulletin-post {
  width: 80%;
  margin: 20px auto;
  text-align: left;
  cursor: pointer;
}

/* 
======================
Chat pop-up
====================== 
*/

.pop-up{
  position: absolute;
  bottom: 0;
  right: 60px;
  z-index: 5;
  height: 200px;
  border: 1px solid black;
}